[2022-09-30 15:59] #37230 closed

[2022-09-30 22:22] julien-deramond commented on #37068
Reproduced on macOS with Safari, Firefox and Chrome. However it is less frequent with Firefox.
To reproduce, I simply move very fast the cursor outside and on the warning icon.

Information that might be useful.

When the tooltip is well displayed:
<img width="773" alt="Screenshot 2022-10-01 at 00 19 37" src="https://user-images.githubusercontent.com/17381666/193364102-851c6d9c-b541-44f7-87cf-b918

[2022-10-01 16:09] gauravshah27 commented on #37225
@louismaximepiton I have forked your stackblitz [here](https://stackblitz.com/edit/github-89e8dy-xrok6g?file=src%2Findex.html,src%2Fscss%2Fstyles.scss)  and updated it to reproduce the issue that exactly matches what I have in my application and I see the same thing that I am seeing in my application where the $border-color gets redefined by the table-variant mixin and that is what is used in subs

[2022-10-01 20:26] GeoSot commented on #37195
I have made a [codepen](https://codepen.io/GeosSV/pen/gOzzWYV?editors=1011) to be able to study the whole thing.
For sure, the thing you are trying to do, is not so much valid ;)

You are trying to re-set title, using a new instance of tooltip. You can use more valid ways to do it https://getbootstrap.com/docs/5.2/components/tooltips/#methods 😉 , or just dispose tooltip before re-create it

HOWEVE

[2022-10-01 20:26] #37195 closed

[2022-10-01 23:46] GeoSot commented on #37068
Guys, I would like your feedback using the following script
https://deploy-preview-37235--twbs-bootstrap.netlify.app/docs/5.2/dist/js/bootstrap.bundle.min.js

or experimenting on this page
https://deploy-preview-37235--twbs-bootstrap.netlify.app/docs/5.2/components/tooltips/#custom-tooltips

[2022-10-02 08:31] julien-deramond commented on #37225
@gauravshah27 Could you confirm that https://github.com/twbs/bootstrap/pull/37239 can fix your issue and that it corresponds well to the analysis you've done (thanks a lot for that btw).

[2022-10-02 10:02] #37179 closed

[2022-10-02 14:33] #37225 closed

[2022-10-02 14:52] mdo commented on #37121
I'm inclined to pass on most of this—these sound like implementation-specific issues and not general needs right now. Happy to revisit if more folks request stuff like this though.

[2022-10-02 14:52] #37121 closed

[2022-10-02 14:53] mdo commented on #37124
Given our usage of system fonts out of the box, and that this can be accomplished with the utility API I think, I'm closing as a won't fix.

[2022-10-02 14:53] #37124 closed

[2022-10-02 14:57] mdo commented on #36925
The idea behind not including every single order option for all 12 grid columns is one of necessity—why would you need to, or how frequently would you need to, set 12 columns' `order`? I can imagine _some_ situations, but I most grid implementations aren't 12 individual columns, but rather a few (like a three or four col layout). It felt wasteful to generate every single `order` value here when fo

[2022-10-02 14:57] #36925 closed

[2022-10-02 14:59] mdo commented on #36962
Yeah we should mention this in our docs. This is kind of a complication from v5's implementation of offcanvas in the navbar if I recall—there wasn't an easy way to keep the base class, add the new dedicated responsive offcanvas component variations, and keep the base class alive. I'm still not 100% sure if/how we'll do it in v6.

[2022-10-02 19:52] Jyotiraditya24 commented on #37081
hey, could I work on this issue?

[2022-10-03 07:44] ayoub99a opened #37242 "SEO Issue"
If we serach to Bootstrap reference, we will get the docs page for 4.3 Version.
https://getbootstrap.com/docs/4.3/getting-started/introduction/

[2022-10-03 08:05] XhmikosR commented on #37242
It's a known issue, we have other issues tracking it.

[2022-10-03 08:05] #37242 closed

[2022-10-03 08:16] netdjw commented on #36925
After all you're right. Folks can easily customize anything. 😃

[2022-10-03 08:25] NielsHolt opened #37243 "@mixin box-shadow($shadow...) => warning if $shadow contains > 1 values and first = 'none'. But "none !important" is valid"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

Hi
`@mixin box-shadow($sha

[2022-10-03 08:30] leecollings-sb opened #37244 "Modals using H1"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

The latest version state t

[2022-10-03 08:34] GeoSot opened #37245 "JavaScript Instances registry, faulty re-set new instance"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

Bootstrap's Instances regi

[2022-10-03 08:35] leecollings-sb commented on #37179
This should never have been changed to a H1, as the modal code is on the page along with the actual H1. There should NEVER be more than one H1 ont he page, this will massively negatively impact the users page ranking for this page.

This needs addressing ASAP.

[2022-10-03 08:53] abdermaiza commented on #37179
we are targeting more assistive technologies, because when you open a modal, the rest of the page is hidden with aria-hidden set to true, so for them, there will be no other H1 on the page....
But if you really cannot have it, then jus use a <p role="heading" aria-level="1">

:)

[2022-10-03 08:54] leecollings-sb commented on #37179
It's not hidden for any page crawlers that will see multiple H1s and then flag this up as a big issue.

The simple solution is to keep the titles of modals to H2 or lower (which you are allowed to have multiple on the page).

Don't use H1 because it's not the title of the page!

[2022-10-03 08:55] patrickhlauke commented on #37179
and again https://www.google.com/search?q=google+ranking+multiple+h1

[2022-10-03 08:57] leecollings-sb commented on #37179
You're arguing with me about a change that shouldn't have happened. You stated it was a bug fix, but it hasn't fixed anything because nothing was wrong with how it was?

Yet again, another example of how BS devs just don't care what anyone else thinks and do what they want anyway.

I've said what I wanted to say, my point is valid, andthe new docs are unhelpful to those who will be use them. Mark

[2022-10-03 08:58] GeoSot commented on #37244
Please try to be helpful next time, including the proper referrals in issue, avoiding spamming duplications
It is as annoying as confusing to find the same comments in 3 places and on top without linking them.

Closing it as it is answered below
https://github.com/twbs/bootstrap/pull/37210#issuecomment-1265112629
https://github.com/twbs/bootstrap/issues/37179#issuecomment-1265114267

and continued

[2022-10-03 08:58] #37244 closed

[2022-10-03 08:58] patrickhlauke commented on #37179
it's a semantic/structural bug, and it affects users of assistive technologies.

[2022-10-03 08:59] leecollings-sb commented on #37244
None of my issues are completed though, so this can't be closed.

[2022-10-03 11:37] julien-deramond commented on #37243
Thanks for opening this issue @NielsHolt.
Have you tried without the double quotes (`@include box-shadow(none !important);`?

[2022-10-03 12:35] NielsHolt commented on #37243
Hi @julien-deramond
Sorry - I should have check the newest version of the mixin.
It has already been fixed and both `@include box-shadow(none !important);` and `@include box-shadow("none !important");`

Thank you

Kind regards

Niels Holt

[2022-10-03 12:35] #37243 closed

[2022-10-03 15:17] florianlacreuse commented on #37068
On my side, I can no longer reproduce the issue on the preview page.

[2022-10-03 18:03] mdo commented on #31289
Closing per https://github.com/twbs/bootstrap/pull/31943#issuecomment-1265830492.

[2022-10-03 18:03] #31289 closed

[2022-10-03 18:50] julien-deramond commented on #37068
@GeoSot Can no longer reproduce the issue by replacing `bootstrap.bundle.min.js` in https://jsfiddle.net/nwalters512/Lns1b9kj/4/ by your version. Patch seems to work well :)

[2022-10-03 18:52] #36536 closed

[2022-10-03 18:56] GeoSot commented on #37068
Wonderful news guys and many thanks for your help 😄
#37235 will close this issue

[2022-10-03 19:25] bluedge opened #37251 "$enable-important-utilities condition missing in _colored-links.scss"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

The Variable for !Importan

[2022-10-04 10:20] GeoSot commented on #37158
@patrickhlauke can you give us your opinion over this?

[2022-10-04 14:25] RobiNN1 commented on #37204
I'm pretty sure you can do it with the dropdown component.

[2022-10-04 19:28] beccahammond commented on #36912
I'm seeing this same issue in 5.2.1

[2022-10-04 19:48] amdora commented on #33273
@tguimmaraess I am also having the same issue, have you found any solutions ???

[2022-10-04 21:06] gauravshah27 commented on #37225
@julien-deramond Thanks a lot for putting the fix out and I tested that out and it is working as expected. Really appreciate the quick turnaround on this as this will unblock us from getting on the latest version of bootstrap. Really appreciate all the good work.

[2022-10-05 09:06] patrickhlauke commented on #37158
I think this will need a slightly bigger, planned rethink of how some of our components should work/be exposed. There's crossover between alert components, toast components, and modal dialogs - different facets across all of them, and in some instances the line between these components gets a bit blurred.

Being able to explicitly say "move focus to the toast" (and the same probably also for alert

[2022-10-05 11:08] julien-deramond opened #37262 "Screenshot in Heroes example page needs to be updated"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

The screenshot used in [Ex

[2022-10-05 12:25] sfxyz commented on #37085
I have face the same problem, I have a navbar styled using `backdrop-filter` property,  with menu items on offcanvas below the large view-port, when mobile menu button clicked offcanvas won't show properly , the visible part only the top part of it. Browser inspect show offcanvas has height dimension same as it's container (`.navbar`). Then I try made a modification to define offcanvas height:

[c

[2022-10-05 22:15] GeoSot commented on #37245
@XhmikosR can you remember something on this or explain it?
I am curious for what reason, we allow overwriting an element instance (as it is not disposed first)

https://github.com/twbs/bootstrap/blob/5975ca65c552184889df25b8cd1c62e3a58ad621/js/tests/unit/dom/data.spec.js#L56-L66

[2022-10-06 05:07] ashleymays commented on #37205
If it's alright, I'd like to be assigned to this issue.

[2022-10-06 08:14] lekoala opened #37265 "toast.js : Cannot read properties of null (reading 'classList')"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

I'm having the following i

[2022-10-06 08:31] #37068 closed

[2022-10-06 16:11] sjlearmonth opened #37269 "Toggler doesn't display drop-down list items"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

I have written the followi

[2022-10-06 20:00] #37269 closed

[2022-10-06 20:04] #37251 closed

[2022-10-06 22:12] roblevintennis opened #37270 ".btn background removed in :active state"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

## Issue

It appears the l

[2022-10-07 04:25] mdo commented on #37270
Have you updated to v5.2.2?

[2022-10-07 07:57] MEETPATEL322 commented on #36785
fgjfgjfgj

[2022-10-07 08:16] debadutta98 commented on #37265
This issue is related to #37245

[2022-10-07 08:51] lekoala commented on #37265
@debadutta98 seems more complex than what I thought!

[2022-10-07 09:08] mrelliot69 commented on #34693
having also this issue with bootstrap 5.2 using scssphp compiler
any idea on how to solve it?

[2022-10-07 14:12] urmik-zwt commented on #35776
Having the same problem in my Angular14 project after the production build. So I have added temporary "configurations":{"optimization": false} in the angular.json file so it is working fine for me.

I am new to angular so I am not sure if this is valid or not.

[2022-10-07 15:44] roblevintennis commented on #37270
@mdo yes, my bad, I've updated the ticket to reflect 5.2.2.

[2022-10-07 21:09] roblevintennis commented on #37270
https://github.com/twbs/bootstrap/pull/37273/files has a proof-of-concept and I'd love to get feedback on if the change has merit or not 🙏

[2022-10-08 03:20] TwoThreeTwo opened #37274 "Primary Outline Button creates one side with radius, other side not."
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

When using

`<button type=

[2022-10-08 03:27] TwoThreeTwo commented on #37274
Okay, I just tested it, again, anything that gets connected and then deconnected by moving it automatically looses it's border radius and it is not possible to even change it.

[2022-10-08 10:39] julien-deramond commented on #37274
Thanks for opening this issue @TwoThreeTwo. I'm not sure to catch the use case, what do you mean by "moving it"?

[2022-10-08 15:24] TCB13 commented on #25110
As expected adding the class `rounded-end` to the `span` is a workaround for this issue in 5.2.

[code]

[2022-10-08 18:12] TwoThreeTwo commented on #37274
So pretty much what I mean is that when I create the button, and use  class="btn btn-outline-primary" it creates it right next to a previously created form-control input.

when I change the position of it using CSS (not modifying bootstrap css), the position of the button does change but half the border radius gets lost and I am stuck with that image I have shown.

Fortuantly this issue can be clo

[2022-10-08 20:15] xorinzor opened #37276 "Switch-style checkbox variables missing in documentation"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

The [documentation](https:

[2022-10-09 00:09] mdo commented on #37274
The only reason this would be happening is if the button is in an input group or something else is affecting it. Closing out given the lack of live example.

[2022-10-09 00:09] #37274 closed

[2022-10-09 14:33] julien-deramond commented on #37276
Yes indeed. Good catch @xorinzor!

[2022-10-10 10:15] Abhighyaa commented on #36943
@mdo @julien-deramond This is happening on chrome sandbox as well. Can I raise a PR for the same?

[2022-10-10 13:15] Unkulon opened #37280 "v5.1 Dropdown autoClose='false' closes with esc button"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

### Steps to reproduce

1.

[2022-10-10 15:35] HybridSolutions commented on #35710
Does it work with elements that don't even exist in DOM yet?

[2022-10-10 16:10] lekoala commented on #35710
@HybridSolutions that's precisely the point. you inject through ajax the html element wrapped in the custom element, and the browser will initialize everything by himself without need of any custom callback or js code. it's basically set it and forget it.

[2022-10-10 18:54] julien-deramond commented on #37280
Something's not very clear in the documentation for `autoClose`. At the same time we have:
* "(Also will not be closed by pressing esc key)" when `autoClose` is `false`
* "Note: the dropdown can always be closed with the ESC key." as a general information for `autoClose`

[2022-10-10 19:00] tg-bot543 opened #37281 "Provide a general summary of the issue"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

Describe the issue
Provide

[2022-10-10 19:27] #37281 closed

[2022-10-11 06:01] WinterSilence opened #37283 "Invalid paths to vendor packages in `*.js.map` files"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

1. Install package via Com

[2022-10-11 06:19] WinterSilence commented on #37245
also, old versions using jQuery, not throws error if selector not exists - need add "silent mode" to keep BC

[2022-10-11 06:28] WinterSilence commented on #37205
i.e. add transition for dropdown caret as in [accordion](https://getbootstrap.com/docs/5.2/components/accordion/)

[2022-10-11 07:21] monsterRocky commented on #36936
Extract expand and then update API

Sent from my iPhone

[2022-10-11 07:49] GeoSot commented on #37245
Hey @tobiasberge, it is a bit different, and the tooltip after 5.1.3 (I am not sure of the version) re-initializes its self every time

[2022-10-11 08:12] WinterSilence commented on #35710
@GeoSot they want something like this `$('#main-content').on('...', '[data-bs-toggle="tooltip"]', function (event) {...})`

[2022-10-11 08:39] HALESHAME-78 commented on #36681
Unsubscribe

On Wed, 6 Jul, 2022, 6:08 pm Ralf Tönjes, ***@***.***> wrote:

[2022-10-11 09:05] tobiasberge commented on #37245
@GeoSot Thanks for your answer, good to know. We wanted to update to 5.2.x anyway. 👍

[2022-10-11 09:18] louismaximepiton opened #37295 "Carousel: No listeners for mobile carousels with `data-bs-ride=boolean`"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

Seems to be there for quit

[2022-10-11 09:53] axelkennedal commented on #32916
This does not work. If I make my carousel like this:
`<div class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">` it autoplays as when the interval is set to zero (very fast, no delay).

[2022-10-11 10:47] GeoSot commented on #32916
@axelkennedal please open a new issue, adding a testcase

[2022-10-11 10:53] GeoSot commented on #35710
As I am aware of, on 5.2.2 it works ok.

The suggested workaround of @lekoala, works too, as it handles the initialization of each new instance by itself

@WinterSilence do I miss something else?

[2022-10-11 12:23] WinterSilence commented on #35710
@GeoSot same way: my example attach event handler to container and calls for inner tooltips. it's "expensive", but no need re-attach events after every AJAX request

[2022-10-11 12:35] lekoala commented on #37265
i'm not sure adding null checks will fix the root cause, but at least it would prevent js errors. these errors don't seem to prevent expected behaviour, so I think it should be pretty safe to add them.

[2022-10-11 13:02] jonnysp commented on #37270
you can set the colors with

.bg-red {
   --bs-btn-color: #fff;
   --bs-btn-bg: #dc3545;
   --bs-btn-border-color: #dc3545;
   --bs-btn-hover-color: #fff;
   --bs-btn-hover-bg: #bb2d3b;
   --bs-btn-hover-border-color: #b02a37;
   --bs-btn-focus-shadow-rgb: 225,83,97;
   --bs-btn-active-color: #fff;
   --bs-btn-active-bg: #b02a37;
   --bs-btn-active-border-color: #a52834;
   --bs-btn-active-shadow:

[2022-10-11 14:35] AgentSmith0 opened #37297 "Disabled floating labels look bad after merging #37125"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

I noticed that a disabled

[2022-10-11 17:04] moosetraveller commented on #28513
![image](https://user-images.githubusercontent.com/3456293/195154349-d0f14e67-4cd7-4c98-85b2-57e9a15c5894.png)

Bootstrap 5.0.2 and 5.2.2

[2022-10-11 17:59] roblevintennis commented on #37270
@jonnysp that's a good point and I could certainly do this as an alternative. Probably less risky too. I'll go ahead and close this and the PR out.

[2022-10-11 17:59] #37270 closed

[2022-10-11 18:41] AhanR commented on #30911
have you been able to implement the feature? If yes, could you share your fork?

[2022-10-11 19:37] daviddwmd opened #37298 "Popover JS config object overrides `data-bs-` attributes"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

The Bootstrap v5.2 documen

[2022-10-12 01:58] EthanBnntt commented on #37280
This looks like a flaw with the documentation and not the code. Should I update the documentation?

[2022-10-12 05:29] julien-deramond commented on #37280
Thanks @EthanBnntt for the PR.
@GeoSot or @XhmikosR do you confirm that it's rather a flaw with the documentation and not the code?

[2022-10-12 07:38] GeoSot commented on #37280
I can confirm that on 5.0 with `data-bs-auto-close="false" `, the `esc` doesn't work, but on 5.2 works ok

[2022-10-12 09:10] axelkennedal commented on #32916
I solved it with the pause method and don't really have time to make a testcase. Glhf.

[2022-10-12 09:17] yyjiugui opened #37302 "The activation target element is discontinuous"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

The activation target elem

[2022-10-12 10:42] GeoSot commented on #37298
Nice catch @daviddwmd. All our components, support `data-bs` parsing and on top of this the JS config can override everything, by design. So we need to fix our docs

[2022-10-12 11:17] mejakm commented on #36887
@mdo found out what the problem is

the new classes in card-header
https://github.com/twbs/bootstrap/commit/e342142b61aacc187c776052bde93e414eb25db7
This padding classes:
![image](https://user-images.githubusercontent.com/14975302/195328230-178633e1-aae7-4c21-9335-3d0d3e4090a5.png)

The result on my project with bootstrap 5.0.0.:
![image](https://user-images.githubusercontent.com/14975302/19532872

[2022-10-12 11:26] GeoSot commented on #37302
It would be a valid approach to just include the whole wrapper as observable
Example: https://getbootstrap.com/docs/5.2/components/scrollspy/#nested-nav

[2022-10-12 11:42] sommmen commented on #36601
I was looking for this feature and came across this feature req. - From your comment it seems this should've been posted somewhere else - in the utilities api, where could i find its github page etc?

[2022-10-12 13:28] rohith2810 opened #37305 "TypeError Cannot read properties of undefined (reading 'backdrop') - bootstrap v5.2.1 modal"
### Discussed in https://github.com/twbs/bootstrap/discussions/37304

<div type='discussions-op-text'>

<sup>Originally posted by **rohith2810** October 12, 2022</sup>
While using bootstrap modal I am facing this error ( **TypeError Cannot read properties of undefined (reading 'backdrop')** ) , which is tracked by our **bug tracker**, but I am unable to recreate this error. I tried recreating erro

[2022-10-12 14:08] EthanBnntt commented on #37280
In bootstrap v5.2, does pressing **ESC** close a dropdown?

[2022-10-12 16:48] rxbracho opened #37307 "Provide a general summary of the issue"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

The .text-opacity classes

[2022-10-12 16:52] rxbracho opened #37308 "Provide a general summary of the issue"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

The CSS .navbar-nav class

[2022-10-12 18:46] #37276 closed

[2022-10-12 18:59] mdo commented on #37307
`.text-muted` doesn't use any new CSS variables, so it's not modifiable by `.text-opacity-*`. We don't need `!important` on the `.text-opacity-*` classes because they're only setting CSS variables.

`.text-muted`'s color is not yet computed based on body color and background color. That may change in v5.3.0, but we tried this earlier and had to roll it back during v5.2.0's development.

[2022-10-12 18:59] #37307 closed

[2022-10-12 19:00] mdo commented on #37308
Duplicate of #36595.

[2022-10-12 19:00] #37308 closed

[2022-10-12 19:13] mdo commented on #37085
@asyncdesign is correct, and there's not really a great way to work around this. One solution I found, which is applied in #35857, is to use a pseudo-element for the backdrop blur.

[2022-10-12 19:13] #37085 closed

[2022-10-12 20:12] rxbracho opened #37310 "Request: A responsive way to use floating labels"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed feature requests
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Proposal

Ideally, I would like to have classes like `.form-floating-md` on a standard `<label>` and `<input>` combination.

[2022-10-12 23:10] #37302 closed

[2022-10-12 23:21] GeoSot commented on #37295
I am not sure if this is a bug 😕

http://localhost:9001/docs/5.2/components/carousel/#via-data-attributes

However, it can change behavior, auto-initializing itself, with one change on
https://github.com/twbs/bootstrap/blob/3377ca49a11bdfcf521803a391dcc3ddab86c655/js/src/carousel.js#L64

to `const SELECTOR_DATA_RIDE = '[data-bs-ride]'`

[2022-10-12 23:33] GeoSot commented on #37265
I had a "quick" look to the given codepen.

* You have imported the `bootstrap.bundle.js` twice, that was causing ` modal.js:357 Uncaught TypeError: Cannot read properties of null (reading 'hide')`

* plus, I couldn't spot any referral to `bootstrap.Toast` 😖
*
![image](https://user-images.githubusercontent.com/22406063/195465728-7b4bcc35-32d0-40d2-a7a8-be68029b0ec6.png)

Is a bit strange to find a

[2022-10-13 06:24] louismaximepiton commented on #37295
Oh, haven't seen it before you highlighted it! Thanks a lot for that!

Instead of a bug, could it be an enhancement for v5.3 or v6 ? or should it stay as-is ?

[2022-10-13 06:50] lekoala commented on #37265
@GeoSot sorry about that indeed i tried a couple of variations and indeed i left a duplicate import. without it i dont have the issue anymore (it still happens (without duplicates) in prod in another app but it's hard to replicate the exact setup).
not sure why importing twice would break everything though?

I'm using a "toaster" helper method that calls new bootstrap.Toast under the hood, i can e

[2022-10-13 08:53] rohith2810 commented on #37305
Hello @GeoSot , I can't recreate the issue but we are getting exceptions in our bug tracker

[2022-10-13 08:56] GeoSot commented on #37295
**/cc** @patrickhlauke please give us your opinion on this

[2022-10-13 10:38] morganarnel opened #37312 "Potentially unintended text in search on docs"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

Go to the docs page at: ht

[2022-10-13 11:09] julien-deramond commented on #37312
Apparently, all the `<h1>` [in the Modal page](https://getbootstrap.com/docs/5.2/components/modal/) are gathered and appear in the results as a title in violet.

[2022-10-13 11:16] WinterSilence opened #37313 "Fix `.form-control` padding for date/time inputs"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

Some browsers (for example

[2022-10-13 11:42] WinterSilence commented on #37312
[customize widget](https://www.algolia.com/doc/api-reference/widgets/autocomplete/js/)

[2022-10-13 13:33] GeoSot commented on #37265
For sure, I can try to help only if you use the Bs components explicitly, and not inside another library. It is not possible to guess any side effects

[2022-10-13 13:47] rohith2810 commented on #37305
I will try and let you know

[2022-10-13 15:26] divyasakre commented on #37313
Hi! I am new to the open source, I want to contribute and fix this frontend issue.

take

[2022-10-13 16:46] lekoala commented on #37265
@GeoSot so i managed to replicate it finally!
basically it's very tricky to get it by hand, which is why it happens rarely
if you click or double click on the close icon right when it's supposed to close, it will fail
I've simulated this with a setTimeout

[2022-10-14 06:41] Mrunmayi28 commented on #37295
Hi! I am new to the open source, I want to contribute and fix this issue.

[2022-10-14 07:08] jonnysp commented on #37297
the css must

.form-floating::before{
	pointer-events: none;
	background-color:transparent;
}

[2022-10-14 17:40] prodkt commented on #32777
Same issue here.

[2022-10-14 19:31] mdo commented on #34457
In #35857, I'm looking at replacing the `$text-muted` value from `#666` to a new CSS variable that's responsive to color modes with `--bs-secondary-color`. This will effectively deprecate `$text-muted` and `.text-muted` which will then be removed in v6. Commit for that coming soon!

[2022-10-14 21:12] Hamzaansari15 commented on #37313
Hi! I am new to the open source, I want to contribute and fix this frontend issue.

[2022-10-15 03:07] mdo commented on #37312
@patrickhlauke We may want to revisit the h1 move in modal headers.

[2022-10-15 09:42] Rancho2002 opened #37325 "There must have a react version of every component"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed feature requests
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Proposal

It is difficult for a user to modify the copied code everytime in a react file. So if we can give that user a reac

[2022-10-15 09:43] Rancho2002 commented on #37325
@samadpls pls look into this issue and assign it to me

[2022-10-15 15:48] patrickhlauke commented on #37312
so is there no way to get the silly algolia thing to exclude certain types of headings with a particular `.modal-title` class? would hate to have to compromise correct structure/markup just for this...

[2022-10-15 16:04] julien-deramond commented on #37312
I'm not confortable to compromise the correct structure. We could create an issue in their repo so they use only the first h1 of the page for this part 🤷

[2022-10-15 16:49] patrickhlauke commented on #37295
so is the issue that currently the carousel is only auto-initialised when `data-bs-ride="carousel"` and otherwise it requires manual initialisation?

I'm guessing that auto-initialisation is not done for performance reasons (similar to why we don't auto-initialise popovers). and if performance is still a valid reason, it does make sense to me that it's opt-in except for ones that are set to automa

[2022-10-15 17:17] rxbracho opened #37326 "The alert borders ignore border-width"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

The alert borders use `--b

[2022-10-15 18:13] GeoSot commented on #37265
I tried it a lot in comparison with a 'native' toast.  On your codepen example, for some reason (not able to debug all these lines 😞), the second click of the double-click, seems, it is finding the event listener still registered, so it tries to execute the `hide` process twice. In contradiction, this cannot be replicated on a native toast https://getbootstrap.com//docs/5.2/components/toasts/#live

[2022-10-16 04:53] jonnysp commented on #37297
can not activate the input in the upper area make the pointer even none for the :before element.

[2022-10-16 15:06] fabiochelly opened #37327 "Box shadows have disappeared from the active state of buttons"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

Since version 5.2, all box

[2022-10-16 16:03] julien-deramond commented on #37327
Thanks for opening this issue @fabiochelly.
The active state hasn't changed between v5.1 and v5.2; there's no box-shadow for the active state but rather a darker color.
Maybe you're talking about the focus state which has changed. For all `.btn`s, the `:focus` styling has changed to `:focus-visible` - this way, the focus style doesn't take effect and "stick" (until you click somewhere else) for mo

[2022-10-16 17:15] fabiochelly commented on #37327
Yes, I was effectively referring to the focus state.
Is there a way to go back to the previous mode (even by adding some custom CSS to the btn class) ?

[2022-10-17 04:14] Rancho2002 commented on #37325
Hi @julien-deramond pls check this isse

[2022-10-17 05:15] kcs-shahbajshaikh commented on #27936
input[type="search"]::-webkit-search-cancel-button {

  /* Remove default */
  -webkit-appearance: none;

  /* Now your own custom styles */
   height: 14px;
   width: 14px;
   display: block;
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBB

[2022-10-17 05:35] julien-deramond commented on #37325
Hi @Rancho2002 please check [the documentation](https://getbootstrap.com/docs/5.2/getting-started/javascript/#usage-with-javascript-frameworks). Among the popular options, you can check [React Bootstrap](https://react-bootstrap.github.io/).

[2022-10-17 05:35] #37325 closed

[2022-10-17 07:21] featuriz commented on #36785
Check the Doc at: [https://getbootstrap.com/docs/5.2/customize/sass/#importing](https://getbootstrap.com/docs/5.2/customize/sass/#importing)
Download: [https://getbootstrap.com/docs/5.2/getting-started/download/#source-files](https://getbootstrap.com/docs/5.2/getting-started/download/#source-files)
From the file: **bootstrap-5.2.2/scss/bootstrap.scss**
**Copy from** _// scss-docs-start import-stac

[2022-10-17 08:04] Rancho2002 commented on #37325
Sorry, I have not notice this documentation earlier. Thanks for your reply.

[2022-10-17 08:08] jonnysp opened #37330 "cannot activate Floating labels"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

cannot activate Floating l

[2022-10-17 08:13] louismaximepiton commented on #37295
Yes, IMO the carousels should be auto-initialized, but it might brings some breaking changes since people that were using it already initialize it.

I might be wrong but I feel like the constructor only brings listeners so I think it might be fine on perf issues (moreover, the listeners are set once there was a interaction with the carousel).

Agree on this part modulo the breaking changes again 😄

[2022-10-17 09:13] WinterSilence commented on #37312
in `search.js`:
[code]

[2022-10-17 09:25] julien-deramond commented on #37312
Hum. If we do it, we'll lose some information in the results (violet titles).

Before:

<img width="574" alt="Screenshot 2022-10-17 at 11 24 17" src="https://user-images.githubusercontent.com/17381666/196141306-07a494f3-4a41-4957-bcec-8fd52fc62fe2.png">

With the proposed patch:

<img width="574" alt="Screenshot 2022-10-17 at 11 24 28" src="https://user-images.githubusercontent.com/17381666/196141

[2022-10-17 09:48] GeoSot commented on #37295
As it seems a possible breaking change (these that initialize Carousel through constructor), maybe is better to postpone it for v6.

However, @louismaximepiton pointed something here. The carousel touch listeners are registered after the initialization, in contradiction with click event listeners that are registered on document

[2022-10-17 10:43] WinterSilence commented on #37312
@julien-deramond it's rude solution just for example

I explode default configs and find solution in [config.js](https://docsearch.algolia.com/docs/templates#default-template):
[code]

[2022-10-17 12:05] patrickhlauke commented on #37295
ah yes, event listeners should all register at the same time at initialisation, not just after first interaction

[2022-10-17 17:23] raj-rathod commented on #37049
just add rounded-start class on the label

[code]

[2022-10-17 20:45] julien-deramond commented on #37312
Yes it could be the solution [with this syntax](https://docsearch.algolia.com/docs/record-extractor/#manipulate-the-dom-with-cheerio):
[code]

[2022-10-18 20:20] patrickhlauke commented on #36607
quickfire: don't use `@media (hover: ...)`. use `@media (any-hover: ...)`

https://css-tricks.com/interaction-media-features-and-their-potential-for-incorrect-assumptions/

[2022-10-19 01:55] dwiesign opened #37339 "Color variables can't be overridden perfectly"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

That is the css of the but

[2022-10-19 05:23] Faridsc opened #37340 "Error with a generated value"
it should be:
[code]
found in the bootstrap.css file
[code]

[2022-10-19 05:42] julien-deramond commented on #37340
Thanks for opening an issue @Faridsc. This definition of `.col` is normal, it shouldn't be `flex: 100%`.
You'll find more information in:
- [Docs > Layout > Columns](https://getbootstrap.com/docs/5.2/layout/columns/)
- [Docs > Layout > Grid](https://getbootstrap.com/docs/5.2/layout/grid/)

[2022-10-19 05:42] #37340 closed

[2022-10-19 07:51] PRO-BROS commented on #19374
Awesome explanation

you can see mine :- [Visit](https://www.codecademy.com/learn)

[2022-10-19 07:51] PRO-BROS commented on #31378
Hi!

you guys can check mine nav in my website :- [See Here](https://prhocoding.com/)

[2022-10-19 07:53] PRO-BROS commented on #32933
HI!

Can anyone suggest me improvement in my website [See Here](https://prhocoding.com/)

[2022-10-19 07:54] PRO-BROS commented on #36607
Yes!

I'm also facing similar issue but now its gone You can [check here](https://prhocoding.com/)

[2022-10-19 08:59] MrUpsidown commented on #37295
I had a hard time understanding why my carousel would not allow me to swipe unless I frist click on an indicator / control. To me this is a bug. At least there is nothing in the documentation that depicts this behavior.

[2022-10-19 14:10] patrickhlauke commented on #37295
yes, it's clearly a bug as far as i'm concerned. we just need somebody to tackle this now...

[2022-10-19 18:28] julien-deramond opened #37342 "`&amp;` displayed in Algolia search results titles"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

`&amp;` is displayed inste

[2022-10-19 18:50] Kartikeyy-singh commented on #36718
I want to work on this, please assign it to me.

[2022-10-19 20:07] joycebrum opened #37343 "Enable OpenSSF Scorecard Github Action and Badge"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed feature requests
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Proposal

Hi, I'm Joyce from Google and I'm working on behalf of the [Open Source Security Foundation][ossf] (OpenSSF) to he

[2022-10-19 22:17] Seraffimo commented on #32733
@mdo Curious why this was closed. Agree with both @fhughes90 and @matejskubic

The specific issue for me occurs on a form used in an AJAX POST.  I have a date field that I want to validate on the server side. Client side validation is not required for this form element (type="text"). I have five other elements in the form that require client side validation. When all form elements pass client vali

[2022-10-20 07:14] MeikelLP commented on #35934
I don't know if I have the exact same issue, but it feels similar. I'm using Vue to toggle the "closable" state of the modal to prevent users from closing the modal while some async operation is ongoing.

I originally tried to recreate the modal every time the state changes (with some workaround to prevent the animation). That caused the modal to not fully close due to some object references gone

[2022-10-20 09:39] GeoSot commented on #37295
The solution is real simple if we are sure we want this attitude :)
https://github.com/twbs/bootstrap/issues/37295#issuecomment-1276830684

[2022-10-20 09:57] GeoSot commented on #37265
Soooo I found some time to try your code

Using your script with some minor changes (you will find below), seems, it works ok

[code]

[2022-10-20 10:18] petschki opened #37345 "Numbered list-groups with `start` attribute do not count correctly."
### Prerequisites

- [x] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [x] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [x] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

Numbered lists with a `sta

[2022-10-20 10:30] patrickhlauke commented on #37295
i think it's even simpler than that: no need to check if there's a `data-ride` attribute at all, just attach the touch listeners on initialisation, all the time, just like with mouse listeners

[2022-10-20 13:06] lekoala commented on #37265
@GeoSot i updated the pen with your code, it's still happening. you do have to click a crazy person to get the issue. I suspect there is some kind of race condition happening in rare cases when you click on the close icon (which is what i can gather from the error reporting in my production app)

<img width="473" alt="image" src="https://user-images.githubusercontent.com/250762/196956815-3cc3f71a-

[2022-10-20 16:05] GeoSot commented on #37295
So you propose to initialize carousels by default? (maybe it will break existing js implementations)

Note: The alternative, to listen globally for swipes, seems a bit eager, and at this point I cannot assure you if it will work easily.

For sure, if anyone wants to try, I will be glad to help him

[2022-10-20 20:19] patrickhlauke commented on #37295
it seems that the problem is in fact that our docs page does not explicitly initialise the carousels (apart from the auto-advancing ones which take care of themselves). so we don't actually do what we tell devs they need to do.

so i think we can either go for full-on auto-initialisation (which yes, may have a slight performance hit and possibly break existing sites that did actually read the docs

[2022-10-21 17:10] mtomczak123 opened #37353 "why I am not getting a refund?"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

My Order #117997. I wrote

[2022-10-22 00:47] shikkaba commented on #36431
@qofe Can you elaborate on this?

[2022-10-22 07:19] manuelmeurer commented on #37342
Another Algolia search box issue: when you enter "mo", it shows a lot of weird text below the search field: https://monosnap.com/file/gPJNuQlc0Ft73L2tQqqc6oHDIz4JHa

(sorry for piggybacking, should I create a separate issue?)

[2022-10-22 07:54] julien-deramond commented on #37342
Thanks for reporting that @manuelmeurer. It's already in https://github.com/twbs/bootstrap/issues/37312 and we're trying to find a solution. It is apparently due to the fact that we have several `<h1>`s in this modal page.

[2022-10-22 08:22] 456535688765 commented on #37345
Any One Working On this Issue

[2022-10-22 21:13] #31054 closed

[2022-10-22 21:16] mdo commented on #37345
https://codepen.io/emdeoh/pen/WNyeNeQ works for me

[2022-10-22 21:17] mdo commented on #37339
This has been highlighted in our docs, migration guide, and blog posts, but perhaps there's more we can do. We're limited by backwards compatibility for enabling what you're looking for :). It's planned for v6 to be able to control everything via CSS variables.

[2022-10-22 21:17] #37339 closed

[2022-10-23 04:13] #37326 closed

[2022-10-23 12:43] #37353 closed

[2022-10-23 12:50] rolleric opened #37357 "Masonry fails when first element is a .col-12"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

When the first column in t

[2022-10-23 13:01] julien-deramond commented on #37357
IDK if this is the best solution but the following seems to work:

[code]

[2022-10-23 13:12] petschki commented on #37345
Sorry, its about `<ol>`s its about the CSS class `.list-group-numbered` which cannot have a offset right now. As long as its documented I'm ok with it.

[2022-10-23 13:14] petschki commented on #37345
see https://codepen.io/petschki/pen/MWXgjBx

[2022-10-23 14:11] mtomczak123 commented on #30393
I have the same problem. They are not giving back money. They ignore messages. No contact

[2022-10-23 14:12] mtomczak123 commented on #30393
I have the same problem. They are not giving back money. They ignore messages. No contact. Standard procedure is shown. The return policy is not working

[2022-10-23 16:49] mdo commented on #37345
Oh my bad! Reopening.

[2022-10-24 07:18] lonix1 opened #37362 "Disabled form-floating input uses wrong colour"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

A disabled form-floating i

[2022-10-24 07:30] Webbithole opened #37363 "Tooltip in Bootstrap v5.2.2 does not follow the 'placement' property; works correctly in v4.6.2 though"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

### Correct in Bootstrap v

[2022-10-24 09:57] Shnoulle opened #37365 "WCAG level A issue on active button"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

Active button use only col

[2022-10-24 14:40] Okeyemi commented on #30169
1 am currently having this error
please help me out
ERROR in Failed to load plugin 'unicorn' declared in '.eslintrc.js » @nuxtjs/eslint-config': Cannot find module 'node:path'
Require stack:
- C:\Users\PC\logistics-website\node_modules\eslint-plugin-unicorn\rules\utils\rule.js
- C:\Users\PC\logistics-website\node_modules\eslint-plugin-unicorn\index.js
- C:\Users\PC\logistics-website\node_modules\@

[2022-10-24 15:14] julien-deramond commented on #30169
@Okeyemi This issue is already closed. You will have more chances of having an answer if you create a [new discussion](https://github.com/twbs/bootstrap/discussions/new).

[2022-10-24 17:11] patrickhlauke commented on #37365
@mdo the active class should have a much stronger differentiation with the non-active class. if we're only going by a change of background, the difference between the non-active and active background should be at least a ratio of 3:1 (see the note in )

so, for the case of the blue buttons, `#052A6C` for instance...

![screen of non-active and active toggles, with the latter using the darker backg

[2022-10-24 17:22] patrickhlauke commented on #37365
incidentally, purely from a use of color perspective (as said, leaving aside the forced colors/high contrast issue), the new styles I introduced recently for the outline toggles https://getbootstrap.com/docs/5.2/forms/checks-radios/#outlined-styles is probably the best, with its distinction between "only border" and "full background" to differentiate regular and active toggles (though doesn't tack

[2022-10-24 17:23] patrickhlauke commented on #37365
this is likely something we want to tackle properly in v6, rather than v5 (together with a good forced color story)

[2022-10-25 09:43] ericleib opened #37376 "bootstrap-utilities.css missing CSS variables"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

(Unless I missed something

[2022-10-25 17:59] XhmikosR commented on #37343
BTW, as for the badge, ideally we should use the one from shields.io so that we have a consistent look and less domains to query in our README.md.

[2022-10-25 18:34] julien-deramond commented on #37343
Shouldn't be a problem (source: https://shields.io/category/analysis)

<img width="932" alt="Screenshot 2022-10-25 at 20 34 10" src="https://user-images.githubusercontent.com/17381666/197854160-2e316c61-43c9-491a-a90f-0647306477d7.png">

[2022-10-25 18:44] XhmikosR commented on #37280
Not sure I follow here. Is this a regression or it just didn't work properly in v5.0?

[2022-10-25 19:27] GeoSot commented on #37280
As I got it, it wasn't working properly on 5.0

[2022-10-26 05:26] #36665 closed

[2022-10-26 05:44] XhmikosR commented on #37280
In that case, we can close this issue? There's also #37300 linked to this issue.

[2022-10-26 06:56] ItsAnfield opened #37380 "Issues with 'hidden-sm-down' property"
Hello.

I'm the dev in charge of an online shop.

I'm having an issue with my code with the 'hidden-sm-down' property.

I've got a big quantity of products at my site, and I have also got the typical filter menu at the left column site.

When I see the page from the mobile phone and I try to use this filters, there is an "OK" button that applies the filters that the customer has chosen. The filter

[2022-10-26 07:39] GeoSot commented on #37280
As it depends on me, I would say yes to both of them

[2022-10-27 09:27] DenisAlliswell commented on #15992
For those who are still facing this issue/limitation.

Workaround 1:
[code]

If this not helping, here's workaround 2:
[code]

Credits to [this blog](https://vijayasankarn.wordpress.com/2017/02/24/quick-fix-scrolling-and-focus-when-multiple-bootstrap-modals-are-open/)

[2022-10-27 15:22] saltnpixels opened #37384 "Gap for flexbox"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed feature requests
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Proposal

Flexbox has the gap property just as css grid does. And its available across all browsers. Why does bootstrap stil

[2022-10-27 15:59] miguellira commented on #33727
@bluesurfer Does your template contain any data

[2022-10-27 16:38] bluesurfer commented on #33727
@miguellira mmm actually no.. I am using javascript to populate the content of the modal (see https://getbootstrap.com/docs/5.2/components/modal/#varying-modal-content)

[2022-10-27 16:47] miguellira commented on #33727
What about the modal itself? Maybe top right close button? Check the emitted DOM. TBH it's been months since I posted in this thread and as I mentioned it all worked fine once I removed all `data-bs` attributes.

[2022-10-27 17:36] sairexes commented on #35774
This works! thank you!

[2022-10-27 18:31] mdo commented on #37384
This will be coming in v6. It'd be a major breaking change to modify the grid's behavior mid-flight :).

[2022-10-27 18:31] #37384 closed

[2022-10-27 19:07] Ahsan-Ehtesham opened #37385 "Upgrade from Webpack to Turbopack"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed feature requests
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Proposal

Turbopack, a new open-source Web’s next-generation bundler was introduced recently which caches results instead of

[2022-10-27 19:18] julien-deramond commented on #37385
We don't use Webpack in Bootstrap. We just provide examples of Bootstrap integration with different types of bundlers ([Webpack](https://getbootstrap.com/docs/5.2/getting-started/webpack/), [Parcel](https://getbootstrap.com/docs/5.2/getting-started/parcel/) and [Vite](https://getbootstrap.com/docs/5.2/getting-started/vite/)).

At some point, we could try to provide an example for Turbopack as well

[2022-10-27 19:24] Ahsan-Ehtesham commented on #37385
Then I shall proceed with how to include and bundle Bootstrap’s CSS and JavaScript in your project using Turbopack

[2022-10-27 20:11] GeoSot commented on #37385
Or even better, as you seem to be well aware of this project, you could provide an example yourself, opening a PR

We would gladly try to include any example that would help people here

[2022-10-27 21:20] JimiRecard opened #37386 "Outlined radio buttons are not changing background color on mouse hover since 5.2.1."
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

Since version 5.2.1, [outl

[2022-10-27 23:08] jfmdev commented on #35774
If adding `position-fixed` don't works, you can use the `strategy: "fixed"` option, as suggested on https://github.com/twbs/bootstrap/issues/36358#issuecomment-1162479957

[code]

[2022-10-28 04:41] julien-deramond commented on #37386
Seems to be linked to https://github.com/twbs/bootstrap/pull/37165. @patrickhlauke could you please confirm that it was done on purpose even for the outlined radio buttons?

[2022-10-28 05:31] yichunkuo commented on #30393
hey, I have the same problem. They are not giving back money. They ignore messages. No contact.
@dhg  could you help me please~~~

[2022-10-28 06:21] patrickhlauke commented on #37386
sorry, on the road. quick answer: yes, it was done on purpose to avoid the visual confusion we originally hadOn 28 Oct 2022, at 06:41, Julien Déramond ***@***.***> wrote:﻿
Seems to be linked to #37165. @patrickhlauke could you please confirm that it was done on purpose even for the outlined radio buttons?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this beca

[2022-10-28 06:31] #37386 closed

[2022-10-28 08:33] bluesurfer commented on #33727
@miguellira wait are you telling me not to use **any** `data-bs` attribute not even for popover or tooltip? I am simply not using any `data-bs-modal`

[2022-10-28 08:51] ZalemCitizen opened #37390 "Add custom classes on backdrops at DOM insertion"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed feature requests
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Proposal

Backdrop class is used by modal, offcanvas...
An option may let us define custom classes to add to backdrop as soo

[2022-10-28 08:59] bluesurfer commented on #33727
@miguellira aah I solve it.. For me the problem are not the data attributes but when I was creating/updating the modal through Javascript I keep calling `new Modal`. That makes my code was "ill" at the very beginning 😄

Using `Modal.getOrCreateInstance` at modal creation/update and then `Modal.getInstance` to close it at form submit (in my case) did the trick: the `hide()` method works as expected

[2022-10-28 14:38] mtomczak123 commented on #30393
Why don't you do refund for me?

[2022-10-28 18:32] bay-jacewhitten commented on #37305
This is happening due to an invalid / or non existing DOM element being passed. I discovered this today by mistakenly passing the wrong selector.

"myModal" !== "#myModal"  when using the getOrCreateInstance method.

What happens is it gets to base-component js and tries to set up `this._element` and `this._config`, but fails. Then modal js kicks in and attempts to build the modal and backdrop, bu

[2022-10-29 07:04] #37376 closed

[2022-10-29 21:39] rxbracho commented on #37326
I don't know how to use CodePen or StackBlitz, so I resort to a photograph of the bootstrap.css in the dist/ directory of v5.2.2 next to the documentation about alerts in the same version.  You can see that the documentation says one thing and the code does another.

![20221019_160027](https://user-images.githubusercontent.com/47257701/198853244-c3e54ebf-d2f9-4988-8a22-6416ef1bffbc.jpg)

I hope it

[2022-10-30 00:31] #37297 closed

[2022-10-30 00:31] #37330 closed

[2022-10-30 00:44] mdo commented on #37385
Closing for now—we don't use Webpack ourselves and only include a guide for using it. As Turbopack is also not yet stable, there's no point in really diving into it for us yet. Let's revisit when it goes stable.

[2022-10-30 04:48] caidaol opened #37395 "How to Manual triggered form validation"
Button type of submit can trigger, but how to use javascript to triggered validation?

$('#form1').submit()
it's not work, it will submit what ever validate state.

help me, thanks.

[2022-10-30 21:57] mdo commented on #37342
Changing the title of the page is the easiest fix here, PR coming.

[2022-10-30 22:02] #34433 closed

[2022-10-30 22:02] #37313 closed

[2022-10-30 22:08] #37342 closed

[2022-10-31 00:05] mdo commented on #37362
I think we do risk that, but generally that's okay I think as the end result is the same—an input with a label is disabled. I merged your other PR without seeing this—want to cut a new one if you're able?

[2022-10-31 00:46] mdo commented on #37327
Going to close for now as we'd like this change to stick around. Let's wait on getting some more feedback here and decide what to do after that. Thanks!

[2022-10-31 00:46] #37327 closed

[2022-10-31 01:02] mdo commented on #37033
This is something that will likely be addressed in the color mode work that will make it easier to more surgically change light/dark on components. We already have `null` colors on all the mentioned components as well.

[2022-10-31 01:02] #37033 closed

[2022-10-31 01:04] mdo commented on #36907
Shadows you can enable via utility API. Pagination would need to be done manually—no plans to tweak that ourselves.

[2022-10-31 01:04] #36907 closed

[2022-10-31 01:04] mdo commented on #36896
For now we'll leave this as-is. Let's revisit for v6 :).

[2022-10-31 01:04] #36896 closed

[2022-10-31 01:05] mdo commented on #36862
No plans to separate these—these feels like a solid convenience to include by default.

[2022-10-31 01:05] #36862 closed

[2022-10-31 01:07] mdo commented on #36718
No plans to do this, but in v6 I may move us to using SVGs in HTML instead of CSS in v6. It'll be impossible to really do for inputs, selects, and other form components though. Custom components, totally doable though.

[2022-10-31 01:07] #36718 closed

[2022-10-31 01:26] mdo commented on #36081
Fixed in #36095.

[2022-10-31 01:26] #36081 closed

[2022-10-31 01:29] mdo commented on #36330
I think this would be a rad update for the utilities API. Any interest in exploring in a PR?

[2022-10-31 15:47] Aniort opened #37405 "In Docs / Forms / Validation, No programmatic link between error messages dans input fields"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

Hello,
first, there's no v

[2022-10-31 18:03] Denspain32 opened #37407 "Uncaught Error"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

Uncaught Error: Bootstrap'

[2022-10-31 18:13] julien-deramond commented on #37407
Thanks for opening this issue @Denspain32 but Bootstrap v3 is EOL. You should try to update your project or change the dependencies to respect what was defined in the v3.

[2022-10-31 18:13] #37407 closed

[2022-10-31 18:19] Denspain32 commented on #37407
Please how can I go about the up dates, because I don't know what I need to
update

On Mon, Oct 31, 2022, 7:13 PM Julien Déramond ***@***.***>
wrote:

[2022-10-31 19:20] ernestob opened #37409 "Disposing a modal after hiding it triggers an error."
It is necessary to check if the focus value exists before trying to read it.
Without this, disposing of a modal after hiding it triggers the following error.
[code]
https://github.com/twbs/bootstrap/blob/961d5ff9844372a4e294980c667bbe7e0651cdeb/js/src/modal.js#L191

Here is the example: https://codepen.io/ernestobr/pen/zYarvQq

[2022-11-01 06:18] jonnysp commented on #37326
the changes are currently in development and will be updated later. to use the version already follow the instructions at https://github.com/twbs/bootstrap#documentation or wait for the release of version 5.3.

[2022-11-01 08:40] romaricpascal commented on #36330
I would be keen to give it a shot. I'm not sure I'll have a chance to look at it before the end of this year though, as a heads up 😊

I think it'll be easier to build it with confidence on top of #36029, which adds the sass-true tests, so there's a safety net for the current functionalities.

[2022-11-01 08:40] GeoSot commented on #37409
The "wrong" approach here, is that `hide` method is asynchronous as the modal is faded, so you have to add an event listener before disposing the modal. Try it and you will be more than fine :wink:

[2022-11-01 08:45] #37409 closed

[2022-11-01 08:47] julien-deramond commented on #31980
FYI we just merged https://github.com/Orange-OpenSource/Orange-Boosted-Bootstrap/pull/1088 into Boosted.
We only use GitHub Pages so we didn't explore ideas around redirections in HTTP servers but rather mainly with what Hugo is able to do.

As an example now:
* https://boosted.orange.com/docs/ → https://boosted.orange.com/docs/5.2/getting-started/introduction/
* https://boosted.orange.com/docs/ge

[2022-11-01 10:01] FaresMenzli commented on #19746
maybe it is not the best solution but also the inline style is working

[2022-11-01 10:20] lonix1 opened #37416 "Floating labels for selects with same behaviour as inputs"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed feature requests
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Proposal

Floating labels works for selects, but are always shown as "floated".

Is there a technical limitation for this be

[2022-11-01 11:28] crdo commented on #36875
Indeed it is related to the exit animation. If you set the animation to false, the issue disappears.

[2022-11-01 14:01] GeoSot commented on #31980
I suppose we can have the same results without adding new aliases https://github.com/twbs/bootstrap/pull/36805

[2022-11-02 06:32] nkdas91 commented on #37416
_"A placeholder is required on each ```<input>``` as our method of **CSS-only** floating labels uses the ```:placeholder-shown``` pseudo-element."_

The ```:placeholder-shown``` pseudo-element is used to determine the ```<label>```'s floating state.  And since Selects don't have a placeholder, they are programmed to always show the ```<label>``` in its floated state.

[2022-11-02 11:11] webprogramozo opened #37420 "Breaking down the border-radius property in SCSS"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed feature requests
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Proposal

I recommend to take advantage of the opportunities offered by SCSS: with some functions, mixins and map data struc

[2022-11-02 11:31] Shnoulle commented on #37365
Thank you:)

A question here about forced-color : it's not included in criterion 1.4.1: Use of Color ?

Have a solid contrast difference are OK ?

[2022-11-02 19:16] gartenkralle commented on #37305
I am receiving this error when doing something like this:

[code]

[2022-11-02 19:54] rolleric commented on #37357
Yes, that is my current workaround, but it requires knowledge of what size the first box will be. In a system with user-supplied content and dynamic sizes, this can be difficult to support in code.

[2022-11-02 20:25] schwartzmj commented on #30393
I've also been trying to get a refund for weeks on Order #118483 with no response. I've sent multiple emails to themes@getbootstrap.com.

[2022-11-02 21:17] julien-deramond commented on #37357
Found something that might be related to this issue: https://masonry.desandro.com/faq.html#the-first-item-breaks-the-grid.

Could an adapted version of the following work in your case?

[code]

[2022-11-03 00:21] patrickhlauke commented on #37365
No, 1.4.1 does not cover user adaptations like Windows High Contrast / forced contrast at this stage

As per https://www.w3.org/WAI/WCAG21/Understanding/use-of-color.html a contrast ratio of 3:1 or higher counts as not just being a "use of color" alone, so yes, solid contrast is ok.

We do plan to make additional adaptations that go beyond WCAG in #35941 but for these toggle buttons, it will likel

[2022-11-03 02:26] yichunkuo commented on #30393
me too, I am  Order #118509 , I've sent multiple emails
hi @dhg do you know why  not making a refund to us?

[2022-11-03 10:04] CyrilKrylatov commented on #37342
Hello people,

I see you merged a fix for that but I think I found a new issue related. Indeed when i'm looking for `mo`, I have this result:

![ss_ 6119](https://user-images.githubusercontent.com/1059657/199693190-2c0c2ee8-4f86-4679-8fce-79eab494598b.jpg)

I also tested it on https://deploy-preview-37400--twbs-bootstrap.netlify.app/docs/5.2/getting-started/webpack/ from #37400 and it's broken the

[2022-11-03 10:07] julien-deramond commented on #37342
Yep @CyrilKrylatov. It's already tracked in https://github.com/twbs/bootstrap/issues/37312.

[2022-11-03 14:01] webprogramozo commented on #37420
I am also open to approaching the possibility of improvement from the direction of the CSS variables, border-radius values should also be available for the :root variables, just like the colors, which could then be used by the different components. Or is that planned?

[2022-11-03 16:33] mihai-vp opened #37422 "Modal not working on mobile."
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

I am using the modal boots

[2022-11-04 06:18] scil opened #37423 "emergency risk: twitter.com not available for js file encoutering CORS"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

sorry.

it's not about boo

[2022-11-04 07:05] julien-deramond commented on #37423
Not related to Bootstrap so I'm closing this issue.

[2022-11-04 07:05] #37423 closed

[2022-11-04 11:13] simPod opened #37424 "Incompatible with sass 1.56.0"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

Sass v1.56.0 gives followi

[2022-11-04 11:51] julien-deramond opened #37426 "Enhance dropdown link examples"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed feature requests
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Proposal

[Dropdown documentation > Single Button](https://getbootstrap.com/docs/5.2/components/dropdowns/#single-button) sh

[2022-11-04 11:54] patrickhlauke commented on #37426
agree on this, but forgot after our chat to submit a PR...oops

[2022-11-04 12:34] lonix1 opened #37427 "[Feature request] Add missing classes for viewport-based sizing"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed feature requests
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Proposal

[code]

### Motivation and context

Bootstrap already [has these](https://getbootstrap.com/docs/5.2/utilities/sizi

[2022-11-04 13:45] #37424 closed

[2022-11-04 17:23] gianlucagiacometti opened #37428 "Escape keydown gets TypeError on Dropdown elements"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

Go to the official Bootstr

[2022-11-04 19:40] MtnBiker opened #37430 "Deprecation warning $weight: Passing a number without unit % (100) is deprecated."
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

Deprecation warning when c

[2022-11-04 20:14] Benja1512 commented on #36723
ijust got the same error.... but i changed the port. have a look
 i had the port: 3000 firstly.
![image](https://user-images.githubusercontent.com/103325697/200066053-9fe155a2-8a2c-45f6-8914-9419e7a67491.png)
 then i changed to another port: 8080.
![image](https://user-images.githubusercontent.com/103325697/200066121-897a1427-d7e1-4142-8eb3-ce52f9459d03.png)
 and this disappeared. perhaps it ll wo

[2022-11-04 21:26] jakeboone02 commented on #37430
This was already fixed by #37425.

[2022-11-04 21:39] #37430 closed

[2022-11-05 10:26] patrickhlauke opened #37433 "v6: Make sure `<button>` and `<a>` links have same vertical text alignment"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed feature requests
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Proposal

split out from https://github.com/twbs/bootstrap/pull/37432#issuecomment-1304469946

for v6, it would be good to r

[2022-11-05 22:59] ozzy432836 commented on #21943
Its still not there in BS 5.2
Another use case is for the offcanvas.
I want it w-100 and then w-50-md and finally w-25-lg
This is a perfect example of a use case where it would benefit one of their own components.

[2022-11-05 23:34] Adi-ty commented on #37262
I can attach current screenshots.

[2022-11-06 17:00] HedgeWizardly opened #37435 "Navbar Documentation Example missing two closing tags"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

On this page, the first ex

[2022-11-06 18:05] julien-deramond commented on #37435
Thanks for opening this issue @HedgeWizardly but `<hr>` and `<input>` don't need closing tags. Maybe try to change the configuration of your linter.

[2022-11-06 18:06] #37435 closed

[2022-11-06 19:46] Commando69 opened #37436 "Testing"

[2022-11-06 19:46] #37436 closed

[2022-11-07 00:40] Felixclement opened #37437 "Popover javascript import fails as it requires jquery"

[2022-11-07 01:00] #37437 closed

[2022-11-07 01:00] Felixclement commented on #37437
my mistake

[2022-11-07 09:47] mahyaghadrdan commented on #34693
Thank you. I did it but I can't open my sass.bat. it's opened just for less than 1 second and it's closed again. What should I do?

[2022-11-07 11:22] byturna opened #37440 "Bug in the Bootstrap Support Team"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

I am trying to get a refun

[2022-11-07 12:43] #35565 closed

[2022-11-07 12:43] #36939 closed

[2022-11-07 12:43] #31099 closed

[2022-11-07 12:43] #34381 closed

[2022-11-07 14:56] snmabaur opened #37441 "Deprecation Warning Sass 1.56 Passing a number without unit"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

I've updated SASS to 1.56

[2022-11-07 16:14] julien-deramond commented on #37441
Duplicate of #37424

[2022-11-07 16:14] #37441 closed

[2022-11-08 14:24] webfactorymatt opened #37454 "Sticky positioned inputs causing scroll up on keydown"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

When an input it put into

[2022-11-08 18:39] #37454 closed

[2022-11-08 19:29] Ylaana opened #37455 "Nested accordion inherits parent's flush styling"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

When nesting a 'regular' a

[2022-11-09 10:36] maheshbokkisam commented on #34693
I am getting below error

 Angular 14.2.0
 Bootstrap 5.2.2

<img width="786" alt="image" src="https://user-images.githubusercontent.com/113166247/200805131-a53c7e13-a351-4697-b508-d26066fe9900.png">

my custom.scss file as below
<img width="549" alt="image" src="https://user-images.githubusercontent.com/113166247/200807616-c0f7d615-085c-4232-b11c-1e17a35e335b.png">

[2022-11-09 13:50] htmldiz opened #37464 "Provide a general summary of the issue"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

To preserve current behavi

[2022-11-09 13:58] julien-deramond commented on #37464
Closing it. Duplicate of #37424 already fixed.

[2022-11-09 13:58] #37464 closed

[2022-11-09 16:05] Maaaleeek opened #37465 "Bootstrap 5.2 with dart-sass v1.56.0"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

After I update **dart-sass

[2022-11-09 16:58] julien-deramond commented on #37465
Closing it. Duplicate of https://github.com/twbs/bootstrap/issues/37424 already fixed.

[2022-11-09 16:58] #37465 closed

[2022-11-09 18:02] jeremyfrench commented on #36508
This is the error on jetbrains https://youtrack.jetbrains.com/issue/WEB-20700/CSS-Custom-Properties-Whitespace-is-marked-as-incorrect-value

[2022-11-09 23:24] vinibiavatti1 commented on #37327
So, is there some documentation explaining the reason about this change? I noticed now too, and wanted just to know why this features was removed for the buttons. I tryed to find something in the blog but could not find enything.

[2022-11-10 06:53] julien-deramond commented on #37327
You'll probably find more information in https://github.com/twbs/bootstrap/pull/37026 and maybe in the corresponding closed issues as well.

[2022-11-10 10:00] vinibiavatti1 commented on #37327
Thanks @julien-deramond

[2022-11-10 10:22] flyke opened #37468 "sass deprecation warning on _functions.scss with latest sass/gulp-sass version"
I have a project with a main .scss file which imports:
- _variables.scss (bootstrap sass overrides for the project)
- node_modules/bootstrap/scss

package.json contains these versions:
- "bootstrap": "^5.2.2",
- "gulp-sass": "^5.1.0"
- "sass": "^1.56.1"

When my gulp file pipes the sass command to compile scss into a css file, it generates this warning:
[code]

This warning is not generated with o

[2022-11-10 10:38] julien-deramond commented on #37468
Closing it. Duplicate of https://github.com/twbs/bootstrap/issues/37424 already fixed.

[2022-11-10 10:38] #37468 closed

[2022-11-11 09:48] njmkramer opened #37474 "function _isWithActiveTrigger in tooltip.js is causing an uncaught error"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

Uncaught TypeError: Cannot

[2022-11-11 13:31] dakur commented on #37465
@julien-deramond Hi, I know you wrote in #37424 that this will be released in 5.3.0. But couldn't it be released as a patch earlier? Please see my question in https://github.com/twbs/bootstrap/discussions/37467. Thanks for consideration.

[2022-11-11 19:37] julien-deramond commented on #37465
Hey @dakur. We are discussing it in the core team, I'll provide an answer in https://github.com/twbs/bootstrap/discussions/37467 as soon as we have decided something.

[2022-11-11 23:24] GeoSot opened #37478 "Fix BrowserStack CI or find a replace"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

As browserstack ci fails a

[2022-11-11 23:33] GeoSot opened #37479 "Add a CI action on every Dependabot branch, checking for dist files references"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed feature requests
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Proposal

After https://github.com/twbs/bootstrap/pull/37463  (and probably some more), it would be handy having an automati

[2022-11-12 13:56] gasolinehorse opened #37487 "Get the latest version # automatically?"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed feature requests
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Proposal

Hi,

I am the owner of htmlboilerplates.com and am constantly checking getbootstrap.com to make sure I am offering

[2022-11-12 14:15] GeoSot commented on #37487
Hello @gasolinehorse does this api call works for you https://api.github.com/repos/twbs/bootstrap/releases/latest?

[2022-11-12 14:56] gasolinehorse commented on #37487
@GeoSot I believe it does! Thanks so much for helping out!

[2022-11-12 15:20] GeoSot commented on #37428
The specific example is not so much valid, as it doesn't have the required markup. :/

[2022-11-12 15:31] GeoSot commented on #37487
Wishing just all the issues were easy, like this 👼

[2022-11-12 15:31] #37487 closed

[2022-11-12 15:49] #37280 closed

[2022-11-12 17:21] #37426 closed

[2022-11-12 22:58] Gal0n commented on #37424
I have the same issue with tint-color() function. Sass v1.56.1.

[code]

[2022-11-13 07:17] XhmikosR commented on #31944
@GeoSot isn't this fixedx already on main by #36414 and/or 36854?

[2022-11-13 11:55] patrickhlauke commented on #37405
This is in progress here https://github.com/twbs/bootstrap/pull/34043

[2022-11-13 11:56] patrickhlauke commented on #37405
duplicate of https://github.com/twbs/bootstrap/issues/28414

[2022-11-13 11:56] #37405 closed

[2022-11-13 13:53] XhmikosR commented on #35776
It's valid, but you are totally disabling production optimizations altogether which is bad for production.

I'm still not sure what we can do to fix this.

[2022-11-13 17:28] mpaglia0 opened #37489 "Deviantart iconSuggest a new feature"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed feature requests
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Proposal

Can you please draw Deviantart icon?

### Motivation and context

Deviantart is a big and active community of arti

[2022-11-13 20:54] julien-deramond commented on #37489
Thanks for creating this issue @mpaglia0. For the icons, there is a specific repository where such a request is already in the backlog: https://github.com/twbs/icons/issues/1388.

[2022-11-13 20:54] #37489 closed

[2022-11-13 20:56] mpaglia0 commented on #37489
I am sorry!!
Thank you for the info

[2022-11-14 06:44] wongwf82 commented on #32019
This answer on SO worked for me:
https://stackoverflow.com/questions/70401077/rails-7-asset-pipeline-sasscsyntaxerror-with-tailwind/70665740#70665740

I put inside `production.rb` and deployment to Heroku was fine, while retaining `gem "sassc-rails"` in my Gemfile though.

[2022-11-14 12:26] njmkramer commented on #37474
Reduced test:

https://js-cq37dw.stackblitz.io/

Focus as fast as you can different inputs and hover at the same time, enter a value, at some point the error will occur.
Tested on Chrome version: 107.0.5304.107
Bootstrap 5.2.2
@popperjs/core 2.11.6

[2022-11-14 17:32] #37362 closed

[2022-11-14 23:28] mdo commented on #37440
Closing as this isn't the place to ask about Themes as that's separate from the open source project.

@byturna Please forward me your email though and I'll see what I can do separately to ping the Themes team.

[2022-11-14 23:28] #37440 closed

[2022-11-15 01:24] skgith1 commented on #30393
@dhg I am also having major issues reaching support regarding my purchase, please reach out if possible. Thank you.

[2022-11-15 04:22] AmirinNS commented on #37468
If you don't plans to update the Bootstrap, you can downgrade the sass version to 1.55.0

[2022-11-15 10:37] MoatezNG opened #37497 "Deprecated warning scss functions"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `bootstrap@5.2.2` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-11-15 10:44] julien-deramond commented on #37497
Closing it. Duplicate of https://github.com/twbs/bootstrap/issues/37424 already fixed.

[2022-11-15 10:44] #37497 closed

[2022-11-15 11:35] TechOverflow commented on #37068
I am still experiencing this, BS 5.2.2, Safari latest. Thought I was going crazy or had a mistake in my elements.
I believe the problem only happens when placement is "top" (or default) and when the mouse move _from_ the top.
In my case coming from the body of the card to the icon in the footer.
https://jsfiddle.net/pru7gv1y/

<img width="631" alt="test" src="https://user-images.githubusercontent.

[2022-11-15 11:42] felcksn commented on #34693
@maheshbokkisam I get the exact same error after updating to angular 14

[2022-11-15 17:04] martinschaible commented on #37430
What i can i do until 5.3 is released?

[2022-11-16 00:31] mvgrimes commented on #32654
I've created a pretty simple script that helps automate the upgrade to both Bootsrap v5 and Reactstrap v9. It won't fix everything, but it fixes or reports most of the breaking changes.

You can find it on Github at [mvgrimes/bootstrap5-upgrade](https://github.com/mvgrimes/bootstrap5-upgrade).

[2022-11-16 02:52] mdo commented on #37310
No plans to add this ourselves—we'll keep the form layouts separate for the foreseeable future.

[2022-11-16 02:52] #37310 closed

[2022-11-16 02:54] #37416 closed

[2022-11-16 09:04] razonyang commented on #36939
@GeoSot Hi, this issue still exists on the main branch, but I've no permission to re-open this issue.

[2022-11-16 09:28] njmkramer commented on #37474
Hi @julien-deramond, see my previous comment for reduced test/live demo.

[2022-11-16 12:41] mfazekas opened #37500 "Can't close modal if there is a javascript Modal object created after shown."
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

Sometime the `data-bs-dism

[2022-11-16 14:07] jfontsaballs opened #37501 "Deprecation warning on style-loader"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

`style-loader 3.3.1` on we

[2022-11-16 14:09] jfontsaballs commented on #37501
This problem seems corrected in `master` branch.

[2022-11-16 14:09] #37501 closed

[2022-11-16 14:12] GeoSot commented on #36939
According to  #35566 tests, it shouldn't exist. Please, Update your codepen, or open a new issue (with the given example)

Thank you @razonyang

[2022-11-16 14:41] razonyang commented on #36939
@GeoSot Thanks for the quick response. Since it's hard to import the latest change of `main` branch in CodePen, I fork and create a new branch called [scrollspy](https://github.com/razonyang/bootstrap/tree/scrollspy), which include [examples](https://github.com/razonyang/bootstrap/tree/scrollspy/dist) inside the `dist` folder.

The `index.en.html` works fine, but the `index.html`(with Chinese char

[2022-11-16 15:35] mfazekas commented on #37500
Also related to #33727

Note that for this exact case, using `bootstrap.Modal.getOrCreateInstance(...)` instead of `new bootstrap.Modal` works. But in our app the issue is that the modal opened with new bootstrap.Modal(...).show() then a PATCH request is used with unpoly to perform a partial update on the content of the modal, and then we can no longer close the modal. As bootstrap.Modal.getInstan

[2022-11-16 16:29] edlingao opened #37505 "Provide a general summary of the issue"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

# A11y not working properl

[2022-11-16 16:35] julien-deramond commented on #37505
Hi @edlingao
I know that work has been done in the v5.2 on the navs and tabs. Is your issue still there in our latest release? (see https://getbootstrap.com/docs/5.2/components/navs-tabs/#javascript-behavior)

[2022-11-16 17:04] edlingao commented on #37505
Hi, @julien-deramond thanks for the quick response!

I can see the issue is no longer happening on 5.2 and it is working as expected A11y speaking, thanks!

[2022-11-16 17:04] #37505 closed

[2022-11-16 19:26] blasticbe commented on #32733
Same issue here:
![image](https://user-images.githubusercontent.com/55191529/202272013-edf7966e-7a28-48af-804a-f73d394ae392.png)

The `.form-control.is-invalid` selector does not carry enough weight and becomes "valid" by the `.was-validated .form-control:valid` state.

Replacing the `is-invalid` with `is-valid` makes no sense to me as I put it there.
Stating that those classes are for backend sou

[2022-11-16 19:28] timver commented on #32733
Same issue here:
![image](https://user-images.githubusercontent.com/55191529/202272013-edf7966e-7a28-48af-804a-f73d394ae392.png)

The `.form-control.is-invalid` selector does not carry enough weight and becomes "valid" by the `.was-validated .form-control:valid` state.

Replacing the `is-invalid` with `is-valid` makes no sense to me as I put it there.
Stating that those classes are for backend sou

[2022-11-16 20:29] cybercussion commented on #34693
Am I losing my mind or did they rename variables in a dot release?

[2022-11-17 00:16] #37357 closed

[2022-11-17 00:16] #37305 closed

[2022-11-17 01:10] arpanEnbake commented on #30169
@Okeyemi Please try to install this
https://www.npmjs.com/package/eslint-plugin-unicorn
[code]
force is optional

[2022-11-17 03:33] selfguard commented on #37305
still facing this issue

[2022-11-17 05:49] keshavmittal7974 commented on #37500
👍

[2022-11-17 06:38] nailarch opened #37507 "Release additional minimal version bootstrap-pure.js without jquery support"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed feature requests
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Proposal

Can you release additional minimal version bootstrap.js without jquery code support?

### Motivation and context

[2022-11-17 07:33] majidp04 opened #37509 "navbar visibility error"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

the navbar items are not v

[2022-11-17 12:17] lucasjuna opened #37510 "Please update repository assets"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

This [changes](https://git

[2022-11-17 12:44] julien-deramond commented on #37510
Closing it. Duplicate of https://github.com/twbs/bootstrap/issues/37424 already fixed.
More info in https://github.com/twbs/bootstrap/discussions/37467

[2022-11-17 12:44] #37510 closed

[2022-11-17 22:29] #37422 closed

[2022-11-17 22:29] mdo commented on #37422
Closing as stale.

[2022-11-18 04:06] ankursatija20 opened #37512 "language"
how to change arabic to engiish in code

[2022-11-18 05:59] firely7 opened #37513 "Toggler issue?"
I am very new to this and might be mistaken; but I used this code in https://www.codeply.com/ and it did  not work; you can see the hamburger button, however the dropdown menu is missing; may be someone wants to look into it?

[code]

**The code that did work :**

[code]

[2022-11-18 14:23] ryanmortier commented on #36875
It's not just when quickly hovering either, if you slowly hover it breaks too.

Example: https://codepen.io/ryanmortier/pen/qBKVpra?editors=1010

![bootstrap tooltip glitch](https://user-images.githubusercontent.com/2053960/202726518-3cb713cb-55fd-43b8-bf26-6cf6073c0b02.gif)

[2022-11-18 15:06] vanillajonathan opened #37515 "CSS accent-color property does not work"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

The [`accent-color`](https

[2022-11-18 15:39] julien-deramond commented on #37513
_I've added backticks in your description so that we could see the code_

In your first code, there are `data-toggle="collapse" data-target="#navbarTogglerDemo01"`. This is the old syntax. Now it is `data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"` (see https://getbootstrap.com/docs/5.2/components/navbar/#toggler).

[2022-11-18 15:39] #37513 closed

[2022-11-18 15:41] julien-deramond commented on #37509
@majidp04 or @iomes2 Could you provide a reduced test case on [CodePen](https://codepen.io/) or [StackBlitz](https://stackblitz.com/)? The description is not precise enough so that I can investigate.

[2022-11-19 00:26] mdo commented on #37515
This won't be something we support in v5, but might come as an evolution of the root CSS variables. I thought about adding a `--accent-bg`, `--accent-color`, etc variables, but that's just an alias for `primary` right now and the `$component-` Sass variables. It's a little wonky right now, but hoping to address soon :).

[2022-11-19 00:26] #37515 closed

[2022-11-19 01:16] Macxim opened #37517 "Generating background-color utilities doesn't output the correct value (CSS variable ignored)"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

The documentation says the

[2022-11-19 22:03] russcarver commented on #34693
I am getting something similar in Angular 15.0.0 (with Angular Material 15.0.0).

My app's color theme is customizable by a configuration loaded at runtime. As such, I set the theme to be based on CSS4 variables - eg:

[code]

I then alter those variables at runtime. This used to work just fine, but now, Angular Material complains (at compile time) with this:

[code]

Based on other responses abov

[2022-11-20 07:42] mubinsabu commented on #20319
**vsfss**

[2022-11-20 18:44] gartenkralle opened #37521 "focus on textarea on offcanvas doesn't work"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

If there is a textarea on

[2022-11-21 09:38] guillaumebriday-pa commented on #35710
Hey @florianlacreuse @GeoSot any solutions since last time? 👍

The documentation still refer to https://codepen.io/Johann-S/pen/djJYPb saying that we can do:

[code]
But we can't do `popover` and `tooltip` at the same time

[2022-11-21 15:07] mariusa opened #37522 "Simultaneous table-striped and table-hover aren't different enough (5.2)"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed feature requests
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Proposal

Having a table with both ```table-striped table-hover```

The hover color is almost the same as one of the stripe

[2022-11-21 15:28] ssakib4040 opened #37523 "Arbitrary values for margin and padding"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed feature requests
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Proposal

Hi Bootstrap.
I want a feature where I can add custom padding & margin values for example: `mt-[5px]` will add 5 p

[2022-11-21 16:57] xploSEoF commented on #37154
I'm sorry, but what is gained from disabling all pointer events on a disabled button? As far as I can see, no click events fire on a disabled button, so you've chosen to prevent accessibility things like tooltips for no gain?

Disabled buttons should not have pointer events disabled.

I'm fairly sure the same could be said for many other things like inputs as this adds a lot of bloat, disables acc

[2022-11-21 17:20] gianlucagiacometti commented on #35687
You can try my select extension for Bootstrap (https://github.com/gianlucagiacometti/bootstrap-select) with the form-select-plaintext class

[2022-11-21 17:26] patrickhlauke commented on #37154
how would you trigger a tooltip on a disabled button using the keyboard? disabled buttons can't be focused with the keyboard... the only way then would be to "fake disable" the button to keep it effectively active, cram in `aria-disabled="true"`, and rely on the author preventing regular click action...

[2022-11-22 07:54] CyrilKrylatov commented on #37523
You can already do that by using the `m-` and `p-` class utilities. You can also overide the `$spacer` variable to suits your needs.

You'll find everything you need to know in the [Spacing doc](https://getbootstrap.com/docs/5.2/utilities/spacing/).

[2022-11-22 14:08] y377 opened #37536 "When the device is lower than the SM window width, class="g-col-sm-12", the CSS grid will be invalid"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

When the device is lower t

[2022-11-22 14:45] #37536 closed

[2022-11-22 17:01] 505-notfound commented on #35690
how did you solve this issue? im having trouble...

[2022-11-22 17:37] charlesfries commented on #36875
I believe #37235 from the 5.2.3 release fixed this

[2022-11-22 19:42] samwillis commented on #36875
Seems fixed in 5.2.3 to me, no longer reproducible in same location as [my comment](https://github.com/twbs/bootstrap/issues/36875#issuecomment-1256956751) above.

https://user-images.githubusercontent.com/31130/203406407-5e4399c2-684e-47f5-915b-a050784e3af9.mov

[2022-11-22 23:41] #36875 closed

[2022-11-23 02:13] razonyang commented on #36939
👀 Hi, is there any updates?

[2022-11-23 14:39] SPodjasek opened #37537 "Fix grid for `@media print`"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

Previously (not sure how f

[2022-11-23 14:51] SPodjasek commented on #37537
I'll just answer my self with reference to #28339

[2022-11-23 14:51] #37537 closed

[2022-11-24 00:03] GreathostRo commented on #35774
After more than a few hours and various attempts I found the working version:

[code]

[2022-11-24 00:13] GreathostRo commented on #35397
After more than a few hours and various attempts I found the working version:

[code]

[2022-11-24 00:13] GreathostRo commented on #28513
After more than a few hours and various attempts I found the working version:

[code]

[2022-11-24 00:17] GreathostRo commented on #34110
After more than a few hours and various attempts I found a working version:

[code]

[2022-11-24 00:20] GreathostRo commented on #36560
After more than a few hours and various attempts I found the working version:

[code]

[2022-11-24 00:20] GreathostRo commented on #36358
After more than a few hours and various attempts I found the working version:

[code]

[2022-11-24 00:21] GreathostRo commented on #33636
After more than a few hours and various attempts I found the working version:

[code]

[2022-11-24 05:19] ajiho commented on #37042
I have the same problem in 5.1.3

[2022-11-24 06:19] bjCorrosionInstruments opened #37539 ".floating-label textareas overlapping text on scroll"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

Floating-label textareas h

[2022-11-24 07:27] AnupamKhosla opened #37540 "Carousel crossfade doesn't fade-out if text is used instead of image"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

The official documentation

[2022-11-24 07:33] AnupamKhosla commented on #37540
I need to update the variable scss again to 6s transition duraion, please wait. atm the demo is using .6secs instead.

[2022-11-24 07:42] julien-deramond commented on #37539
My bad. Caused by https://github.com/twbs/bootstrap/commit/06bed9b45af290b05fed9ec003a89af1d3baf6a4 when fixing the disabled behavior.

[2022-11-24 11:19] divya002 opened #37541 "Race Condition in Grunt for Bootstrap 3.4"
There is security vulnerabilities issue with **bootstrap 3.4** because its using **grunt version less than 1.5.3.**

Please go through this below link for details
https://github.com/advisories/GHSA-rm36-94g8-835r

Please suggest to fix this issue.

[2022-11-24 12:16] julien-deramond commented on #37541
Thanks for opening this issue @divya002 but Bootstrap 3 reached its end of life in 2019 (source: https://github.com/twbs/release#release-schedule).

[2022-11-24 12:16] #37541 closed

[2022-11-25 05:24] aldwinp35 commented on #33940
Put the ``tooltip`` inside a ``span`` element

[code]

[2022-11-25 09:36] zucatti opened #37542 "toggle between offcanvas not working"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

toggle offcanvas not worki

[2022-11-25 09:38] zucatti commented on #37542
answer to my own issue... In the second offcanvas, don't call the data-bs-dismiss as it will be called for the 2 offcanvas.

[2022-11-25 09:38] #37542 closed

[2022-11-25 10:37] Lausselloic opened #37544 "CSS output issue when prefixing scss compilation"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

When building bootstrap sc

[2022-11-25 10:54] julien-deramond commented on #37544
Seems due to https://github.com/twbs/bootstrap/blob/bc1b5b25edbc6657ceab694dbbeb00aed5dca431/scss/mixins/_forms.scss#L5-L16

Would need to do add some space like this `#{if(&, "&", "")} .is-#{$state} {` but only when needed, otherwise it'll break the colored border.

[2022-11-25 11:15] edmandell commented on #35690
it was a while ago, but I think I did something with putting the checkbox inside the label, here's some of my code (php), it gave me what I needed

    echo "<div class='btn-group' role='group'>\n";
        echo    "<div class='col'>\n";
        $items = $data['nose']['primary'][$tag];
        foreach ($items as $item) {
            echo "<label class='btn btn-sm btn-outline-primary' for='{$item['

[2022-11-25 12:08] sharmadhiraj86 commented on #37539
Is this issue solved? @julien-deramond

[2022-11-25 12:18] julien-deramond commented on #37539
This issue is still opened so not yet.

[2022-11-25 12:36] ffoodd commented on #37544
Almost sure it's been reported or documented already, I think I even mentionned it in the RTL docs page regarding edge cases.

[2022-11-25 12:47] Lausselloic commented on #37544
Sorry for duplicate

[2022-11-25 12:52] #37544 closed

[2022-11-25 18:23] sharmadhiraj86 commented on #37539
So please can you assign this issue to me@julien-deramond ?

[2022-11-25 18:29] julien-deramond commented on #37539
We don't assign issues. You can create a PR and link it to this issue, no problem :)

[2022-11-25 18:42] sharmadhiraj86 commented on #37539
Once we are typing should we remove that comment string or should we let it be and adjust the scrolling accordingly.

[2022-11-25 18:43] sharmadhiraj86 commented on #37539
Can you let me know in which file the code related to this section is present.

[2022-11-25 19:13] exactstate commented on #37523
I don't think Bootstrap supports this. You can override `$spacer` and add to the `$spacers` sass variable but that's about it.

I would question why you need/want apply styling like this. TailwindCSS does support this which may be better for your use case.

[2022-11-25 21:21] julien-deramond commented on #37523
You can do the following to have access then in your project to `m-5px` or `m-13px` for example if you don't want to touch the `$spacer` var:

[code]

But no, it is not possible atm to use arbitrary values (`mt-[5px]`, `m-[123px]`, and so on) on the fly without having introduced them manually before as utilities.

[2022-11-26 20:23] septatrix commented on #37537
I do not think the issue you referenced it at fault here. That only means print specific adjustments like suppressing box shadows were removed. Instead, I think you are running into the same chromium bug I ran into at the start of the week: [Issue 489521: @media attributes height, min-height, max-height, width, min-width, max-width are incorrectly calculated when printing](https://bugs.chromium.or

[2022-11-26 21:28] SPodjasek commented on #37537
@septatrix Indeed I haven't checked it on Firefox, but using Firefox is sadly not an option for me.

[2022-11-27 00:25] septatrix commented on #37537
Sure, for me I also have to guarantee that is works in all browsers. However, this is just an head up towards the actual problem because your hotfix probably does not do what you want: While you are iterating over each breakpoint, the corresponding media query is not included in the resulting CSS. So in practice you are just forcing `col-*-*` to be applied regardless of size when you are printing.

[2022-11-27 05:54] razonyang opened #37545 "Scrollspy doesn't work with Chinese anchor targets"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

Related issue #10205(v2/v3

[2022-11-27 08:18] gartenkralle opened #37546 "carousel touch does not work until using arrows"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

touch of carousel does not

[2022-11-27 08:20] gartenkralle commented on #37521
Solved. I did a mistake. It is working like expected.

[2022-11-27 08:20] #37521 closed

[2022-11-27 12:43] asyncdesign commented on #37545
You have to follow the W3C selector rules as defined below:

https://www.w3.org/TR/CSS21/syndata.html#value-def-identifier

In CSS, identifiers (including element names, classes, and IDs in [selectors](https://www.w3.org/TR/CSS21/selector.html)) can contain only the characters [a-zA-Z0-9] and ISO 10646 characters U+00A0 and higher, plus the hyphen (-) and the underscore (_); they cannot start with

[2022-11-27 23:11] bjCorrosionInstruments commented on #37539
I'd assume the same behaviour as a text-area in Material: https://material.angular.io/components/form-field/overview
![image](https://user-images.githubusercontent.com/103553898/204164767-2bce9d09-15d3-4125-9b4c-fd8636fc527b.png)

[2022-11-28 06:19] mdo opened #37549 "Tracking: Color modes"
Calling out some outstanding todos and questions from #35857 as we'll merge that PR and tackle these things in smaller batches.

### General todos
- [ ] **Colors/Sass/CSS vars**
	- [ ] Can we generate the new subtle bg, subtle border, and text emphasis colors from `$theme-colors`?
	- [ ] Do we provide hex colors, `rgba()` colors, or both for the new variables?
	- [ ] Document dark mode variables i

[2022-11-28 14:29] w4sevens commented on #37430
i met the same question!!!

[2022-11-28 14:38] julien-deramond commented on #37430
[Answer's here](https://github.com/twbs/bootstrap/discussions/37467#discussioncomment-4199573)

[2022-11-28 18:18] septatrix commented on #37549
Another TODO I would like to add is that this should work without JS (which at least the preview in the PR does not). For the sake of accessibility and js-less users, it should default to respecting the system preferences. Thus, in its current form, the implementation also does not resolve #27514.

I would like to point out that this is the most upvoted comment in the PR (https://github.com/twbs/b

[2022-11-28 21:09] julien-deramond commented on #37546
Can confirm this issue on Android + Firefox as well. Whatever the example in our [Carousel docs](https://getbootstrap.com/docs/5.2/components/carousel/), the user needs to first go to the next slide with the control, and only from there the user can swipe/touch.

[2022-11-29 06:30] #29720 closed

[2022-11-29 06:30] #35333 closed

[2022-11-29 06:30] #34457 closed

[2022-11-29 06:30] #37081 closed

[2022-11-29 07:06] MartensWebshops opened #37552 "Please REFUND themes.getbootstrap.com (customer)"
Dear sir or madam,
I have been unable to reach you by email or any other way, so this is my last resort as an unsatisfied customer to reach out to you for a refund request for order #119219

Please look in to this matter.
Best regards

[2022-11-29 07:07] #36736 closed

[2022-11-29 07:20] #37295 closed

[2022-11-29 07:21] mdo commented on #37552
I'm sorry, but this isn't the place for Themes support. They have their own support channel for a reason.

[2022-11-29 07:21] #37552 closed

[2022-11-29 07:22] julien-deramond commented on #37546
Fixed by https://github.com/twbs/bootstrap/pull/37354 so closing it

[2022-11-29 07:22] #37546 closed

[2022-11-29 10:36] MartensWebshops commented on #30393
@dhg I'm having the same issue. No response what so ever. I have send multiple emails.

[2022-11-29 16:11] kamleshwebtech commented on #24638
This does not work if table-responsive div is inside a table's td. Any solution?? Please suggest me. Thanks.

[2022-11-29 18:11] sharmadhiraj86 commented on #37539
@bjCorrosionInstruments ok got it .
@julien-deramond can you let me know which line you have added might have caused this issue.

[2022-11-29 18:27] bowingman commented on #37546
Good job!

[2022-11-29 22:59] DaveO-Home opened #37563 ".card class conflicts with application's .card class - perhaps bs-card would be better."
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed feature requests
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Proposal

rename .card to something else, perhaps .bs-card

### Motivation and context

conflicts with existing application.

[2022-11-30 01:29] lcsqlpete opened #37564 "Alignment issue with form-select/floating label"
I have a couple of issues showing up when using a form-select with floating labels inside a modal. Here's a screenshot of the issue.

![Screen Shot 2022-11-29 at 5 19 23 PM](https://user-images.githubusercontent.com/8495380/204684238-ab3a4ab0-0d55-4fb7-801e-8d321c845954.png)

The left side of the Product select control on the last row is slightly off compared to the left side of of all the other c

[2022-11-30 04:13] mdo commented on #37564
This needs to be a reduced test case with a live demo, not a comprehensive text file that doesn't isolate the issue within our code base. I'm going to close this out for now, but please feel free to comment or open a new issue once you're able to provide that. Please read through our issue template for reporting bugs as well—it mentions all of this. Thanks!

[2022-11-30 04:13] #37564 closed

[2022-11-30 04:14] mdo commented on #37563
We won't be doing this—it's been that way for years and hasn't started since v5.2.0 as no component class names have changed in that release :).

[2022-11-30 04:14] #37563 closed

[2022-11-30 04:14] mdo commented on #37545
Closing per above comment.

[2022-11-30 04:14] #37545 closed

[2022-11-30 04:16] #37509 closed

[2022-11-30 04:16] mdo commented on #37509
Closing as stale.

[2022-11-30 04:17] mdo commented on #37523
Not possible as mentioned above, but if you ever figure out a way with Sass or CSS variables, we're open to ideas!

[2022-11-30 04:17] #37523 closed

[2022-11-30 04:18] mdo commented on #37507
v5's JS doesn't really include much extra code for jQuery. I don't see much value in this for v5, but what little code is there will be dropped in v6 most likely.

[2022-11-30 04:18] #37507 closed

[2022-11-30 06:05] DaveO-Home commented on #37563
@mdo - fyi your javascript since 5.2 is injecting `var (--bs-card-height)` into the element(s) using the the `card` class. This was very difficult to figure out, I'm surprised that others haven't had the problem. I had to change my app.

[2022-11-30 06:38] julien-deramond commented on #37563
@DaveO-Home I'm intrigued by your feedback because there's no JavaScript at all for the cards.
[This is the main change](https://github.com/twbs/bootstrap/commit/e342142b61aacc187c776052bde93e414eb25db7#diff-be5262d08eefacbcdbfa1f9d100c4d23d2d66fecdd720b1336881e174ce7fe9b) done between v5.1 and v5.2 for the CSS of our cards. `--bs-card-height` is a CSS variable defined in the `.card` scope (see ht

[2022-11-30 14:30] MauricioFauth opened #37567 "Select arrow doesn't hide the content when direction is different"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

![Screenshot from 2022-11-

[2022-11-30 15:04] julien-deramond commented on #37539
You already have the information in https://github.com/twbs/bootstrap/issues/37539#issuecomment-1326066037.

I'm sorry @sharmadhiraj86 but I don't have the time to help you precisely on how to tackle this issue. I'll review the PR if you create one. Please don't tag me if I don't answer right away, there are 249 issues and 116 PRs and I'm contributing on my spare time.

[2022-11-30 15:20] DaveO-Home commented on #37563
@julien-deramond I'm not using the bootstrap card scope. I had a `.card` class for my own use. It's only used as  a parent to my cards, `.card1`, `.card2`.... Somehow `var (--bs-card-height)` is getting injected. It really trashed my app. I can't see how it gets injected unless it's javascript or the bundler, `rollup`.

[2022-11-30 15:42] julien-deramond commented on #37563
In Bootstrap v5.1.3 (generated `dist/css/bootstrap.css`):
[code]

In Bootstrap v5.2.0 (generated `dist/css/bootstrap.css`):
[code]

The only difference in Bootstrap v5.2 for `.card` is that we introduced CSS variables/custom properties. So as you can see there's no JavaScript involved at all.

Maybe you could try to create a [CodePen](https://codepen.io) or a [StackBlitz](https://stackblitz.com/)

[2022-11-30 15:47] DaveO-Home commented on #37563
I just tested rollup with `.card` and that's not he problem.

[2022-11-30 15:49] julien-deramond commented on #37563
In Bootstrap v5.1.3 (generated `dist/css/bootstrap.css`):
[code]

In Bootstrap v5.2.0 (generated `dist/css/bootstrap.css`):
[code]

The only difference in Bootstrap v5.2 for `.card` is that we introduced CSS variables/custom properties. So as you can see there's no JavaScript involved at all.

Maybe you could try to create a [CodePen](https://codepen.io) or a [StackBlitz](https://stackblitz.com/)

[2022-11-30 18:41] lcsqlpete opened #37569 "In a modal, a form-select with floating label is misaligned and has wrong width"
### Prerequisites

- [X] I have [searched](https://github.com/twbs/bootstrap/issues?utf8=%E2%9C%93&q=is%3Aissue) for duplicate or closed issues
- [X] I have [validated](https://html5.validator.nu/) any HTML to avoid common problems
- [X] I have read the [contributing guidelines](https://github.com/twbs/bootstrap/blob/main/.github/CONTRIBUTING.md)

### Describe the issue

Please see the Codepen bel

[2022-11-30 18:53] julien-deramond commented on #37569
Hey @lcsqlpete
Just took a look very quickly (I'll get back to it after depending on your answer).
1. If I take the `<form>` code and display it outside the modal, the issue remains so I think it is not related to the modal
2. The issue isn't here because your `<div class="row">` (line 75) should be closed at line 104 (just before the other `<div class="row">` containing the `<select>`?

[2022-11-30 19:28] lcsqlpete commented on #37569
Thanks for spotting that.  I ran the code though the codepen analyze function when I posted it but it didn;t spot that.  I add ed the closing div tag and now all looks fine.

[2022-11-30 19:34] julien-deramond commented on #37569
Sure no problem. So I'm closing it since the issue seems to be resolved.

[2022-11-30 19:34] #37569 closed

[2022-11-30 19:52] DaveO-Home commented on #37563
@julien-deramond @mdo I tested this as a stand-alone app and everything worked as expected. However, my app is a component in a larger `React`  app. I'm pointing my finger at `React`.  v18.2.0.

[2022-11-30 20:16] Gregory-Ledray commented on #33651
I had the same experience as @o-alquimista. It looks like the right thing to do now is `Alert.getOrCreateInstance` since that doesn't require `new` and also won't create a new instance if one already exists.

[2022-11-30 21:14] DaveO-Home commented on #37563
@julien-deramond @mdo Strike my last comment. The problem is with my setup. I had my css loaded before `bootstrap` so your `.card` was overriding mine. Sorry about that....